{% extends 'layout.html' %}
{% block content %}
    <!-- Header -->
    <header id="header">
        <h1>xStorage</h1>
        <p>Хостинг фото и видео без ограничений по кличеству показов и срока хранения.</p>
    </header>
{#    <form action="{{ url_for('hp.upload') }}" method="post" enctype="multipart/form-data" id="signup-form">#}
    <form action="{{ url_for('hp.upload') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Загрузить" />
    </form>
{% endblock %}