<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}xStorage{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/html5shiv.js') }}"></script><![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static', filename='css/ie8.css') }}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('static', filename='css/ie9.css') }}" /><![endif]-->
    {% block head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <footer id="footer">
        <ul class="icons">
{#            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>#}
{#            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>#}
{#            <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>#}
            <li><a href="mailto:support@xstorage.ru" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>xStorage &copy; 2015.</li><li>Автор: <a href="http://anzhiganov.com">Anzhiganov</a></li>
        </ul>
    </footer>
    <!-- Scripts -->
    <!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/respond.min.js') }}"></script><![endif]-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>